* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: dashed;
}

h1 {
  padding: 10px;
  background-color: antiquewhite;
  margin: 10px;
  max-width:max-content;
  border-radius: 10px;
}
