* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

button {
  padding: 10px;
  margin: 10px;
}

h1 {
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
  max-width: max-content;
}