.header {
  padding: 20px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.btn {
  padding: 10px;
}
